* {
  margin: 0;
  padding: 0;
}

section {
  padding: 50px 75px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

section h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

section table {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  border: 2px solid #605dec;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}
section table tr th {
  padding: 14px 20px;
  background-color: #605dec;
  color: white;
}
section table tr th:nth-child(1) {
  border-radius: 10px 0 0 10px;
}
section table tr th:nth-child(5) {
  border-radius: 0 10px 10px 0;
}
section table tr td {
  padding: 14px 20px;
  border-bottom: 2px #e4e4ef solid;
}

section table tr td button:nth-child(1) {
  margin-right: 6px;
}
section table tr td button {
  padding: 4px 6px;
  border-radius: 20px;
  background-color: #e4e4ef;
  border: 2px solid #605dec;
  cursor: pointer;
}
